@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	font: 16px/1.6 "DM Sans", sans-serif;
}

.main-button {
	padding: 15px 30px;
	font-size: 16px;
	color: white;
	font-weight: bold;
	border: 2px solid white;
	background-color: rgba(0, 0, 0, 0);
}

.main-button:hover {
	background-color: #f78118;
	border: 2px solid #f78118;
}

h1 {
	font-family: "Bebas Neue", cursive;
	font-size: 102px;
	letter-spacing: 0.04em;
	line-height: 1;
}

h3 {
	font-family: "Bebas Neue", cursive;
	font-size: 36px;
	letter-spacing: 0.04em;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 30px;
	color: #83bc10;
}

h4 {
	font: 24px/1.6 "DM Sans", sans-serif;
	font-weight: bold;
}
.container {
	width: 90%; /* Using % not px so it's responsive */
	margin: auto; /* Center items */
	overflow: hidden; /* When something doesn't fit there will be no scrollbar */
}
#branding p {
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: "Bebas Neue", cursive;
	font-size: 24px;
	background-color: #83bc10;
	color: white;
	padding: 0 8px;
}

ul {
	margin: 0; /* Removing default padding and margin from all uls on the website*/
	padding: 0;
}

header li {
	float: left;
	display: inline; /* display nav items next to each other */
	padding-left: 80px; /* Padding on left of the nav items */
}

header a {
	text-decoration: none;
}

header #branding {
	float: left;
}

header nav {
	float: right;
	margin-top: 25px;
	margin-bottom: 25px;
}

header a {
	color: #83bc10;
	font-weight: bold;
}

#showcase > .container {
	background-image: linear-gradient(
			90deg,
			rgba(8, 61, 0, 0.7),
			rgba(256, 256, 256, 0)
		),
		url("../img/hero-image.jpg");
	min-height: 600px;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	display: flex; /* needed to be able to center the div inside it vertically */
	align-items: center;
}

.showcase-content {
	margin: 0 80px;
	/* margin: auto 80px; centers the showcase content vertically - auto and 80px from the side */
	color: white;
}

.showcase-content p {
	font-size: 20px;
}

.inSeason {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}

#currentlyInSeason p {
	text-align: center;
	margin-bottom: 30px;
}

#currentlyInSeason h3 {
	margin-bottom: 0;
}

.in-season-one {
	background-color: #e9d8bd;
	text-align: center;
	padding: 40px;
}

.in-season-two {
	background-color: #ebf4de;
	text-align: center;
	padding: 40px;
}

.in-season-three {
	background-color: #ebd7cb;
	text-align: center;
	padding: 40px;
}
.in-season-four {
	background-color: #e3f0d0;
	text-align: center;
	padding: 40px;
}

.veg {
	height: 260px;
}

.benefits-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

.ben-one {
	background-color: #e1f6e2;
	text-align: center;
	padding: 30px;
}

.rec {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.rec-one {
	background-color: #e8deca;
}

.rec-two {
	background-color: #e3f0d0;
}
.rec-three {
	background-color: #ebd7cb;
}

.photo img {
	max-width: 100%; /*takes 100% oof the div */
	max-height: 100%;
	display: block; /* remove extra space below image */
}

footer {
	margin-top: 60px;
	background-color: #83bc10;
}
